In [1]:

L = [10, 20, 30, 40, 50, 60, 70, 80]


L.append(200)
L.append(300)
print("After adding 200 and 300:", L)


L.remove(10)
L.remove(30)
print("After removing 10 and 30:", L)


L.sort()
print("Sorted in ascending order:", L)

L.sort(reverse=True)
print("Sorted in descending order:", L)

After adding 200 and 300: [10, 20, 30, 40, 50, 60, 70, 80, 200, 300]
After removing 10 and 30: [20, 40, 50, 60, 70, 80, 200, 300]
Sorted in ascending order: [20, 40, 50, 60, 70, 80, 200, 300]
Sorted in descending order: [300, 200, 80, 70, 60, 50, 40, 20]

In [2]:

scores = (45, 89.5, 76, 45.4, 89, 92, 58, 45)


highest_score = max(scores)
highest_score_index = scores.index(highest_score)
print(f"Highest score: {highest_score}, Index: {highest_score_index}")


lowest_score = min(scores)
lowest_score_count = scores.count(lowest_score)
print(f"Lowest score: {lowest_score}, Count: {lowest_score_count}")


reversed_scores = list(reversed(scores))
print("Reversed tuple as list:", reversed_scores)


user_input = float(input("Enter a score to check if it is present in the tuple: "))
if user_input in scores:
    first_occurrence_index = scores.index(user_input)
    print(f"Score {user_input} is present at index {first_occurrence_index}.")
else:
    print(f"Score {user_input} is not present in the tuple.")

Highest score: 92, Index: 5
Lowest score: 45, Count: 2
Reversed tuple as list: [45, 58, 92, 89, 45.4, 76, 89.5, 45]
Enter a score to check if it is present in the tuple: 92
Score 92.0 is present at index 5.

In [3]:
import random
import math


random_numbers = [random.randint(100, 900) for _ in range(100)]


def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(math.sqrt(num)) + 1):
        if num % i == 0:
            return False
    return True


odd_numbers = [num for num in random_numbers if num % 2 != 0]
odd_count = len(odd_numbers)


even_numbers = [num for num in random_numbers if num % 2 == 0]
even_count = len(even_numbers)


prime_numbers = [num for num in random_numbers if is_prime(num)]
prime_count = len(prime_numbers)


print(f"Total odd numbers: {odd_count}")
print(f"Total even numbers: {even_count}")
print(f"Total prime numbers: {prime_count}")

Total odd numbers: 55
Total even numbers: 45
Total prime numbers: 21

In [4]:

A = {34, 56, 78, 90}
B = {78, 45, 90, 23}


union_scores = A.union(B)
print(f"Unique scores (Union of A and B): {union_scores}")


common_scores = A.intersection(B)
print(f"Common scores (Intersection of A and B): {common_scores}")


exclusive_scores = A.symmetric_difference(B)
print(f"Exclusive scores (Symmetric difference of A and B): {exclusive_scores}")


is_subset_A_of_B = A.issubset(B)
is_superset_B_of_A = B.issuperset(A)
print(f"Is team A's scores a subset of team B's scores? {is_subset_A_of_B}")
print(f"Is team B's scores a superset of team A's scores? {is_superset_B_of_A}")


X = int(input("Enter a score to remove from set A: "))
if X in A:
    A.remove(X)
    print(f"Score {X} removed from set A.")
else:
    print(f"Score {X} is not present in set A.")

Unique scores (Union of A and B): {34, 45, 78, 23, 56, 90}
Common scores (Intersection of A and B): {90, 78}
Exclusive scores (Symmetric difference of A and B): {34, 45, 23, 56}
Is team A's scores a subset of team B's scores? False
Is team B's scores a superset of team A's scores? False
Enter a score to remove from set A: 34
Score 34 removed from set A.

In [6]:

sample_dict = {
    "name": "kelly",
    "age": 25,
    "salary": 8000,
    "city": "New York"
}


if "city" in sample_dict:
    sample_dict["location"] = sample_dict.pop("city")


print("Updated dictionary:", sample_dict)

Updated dictionary: {'name': 'kelly', 'age': 25, 'salary': 8000, 'location': 'New York'}